<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tinh tien mach in</title>
    <%- include('../../layout/header');%>
</head>
<style>
    body {
        text-align: center;
    }
</style>
<script src="/js/jquery.js"></script>
<body>
    <h1>Tinh tien mach in</h1>
    Chieu dai(dm):<input type="text" id="heigh" value="0"> <br>
    Chieu rong(dm):<input type="text" id="width" value="0"> <br>
    Thoi gian lay mach(ngay):<input type="text" id="time" value="1"> <br>
    Gia tien la: <input type="text" id="price" value="0"> <br>
    <button>Tinh Tien</button>
</body>
<%- include('../../layout/footer')%>
<script src="/public/js/billCircuit.js"></script>
</html>