<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DemoCaculator</title>
    <link rel="stylesheet" href="/public/CSS/caculator.css" />
    <%- include('../../layout/header');%>
</head>
  <body>
    <div class="container">
      <div class="screen">
        <span class="overlay"></span>
        <span class="input">0</span>
      </div>
      <div class="keyboard">
        <button class="item item00">%</button>
        <button class="item item01">CE</button>
        <button class="item item02">C</button>
        <button class="item item03">O</button>
        <button class="item item04">Log(x)</button>
        <button class="item item05">X^2</button>
        <button class="item item06">sqrtX</button>
        <button class="item item07">/</button>
        <button class="item item7">7</button>
        <button class="item item8">8</button>
        <button class="item item9">9</button>
        <button class="item item08">x</button>
        <button class="item item4">4</button>
        <button class="item item5">5</button>
        <button class="item item6">6</button>
        <button class="item item09">-</button>
        <button class="item item1">1</button>
        <button class="item item2">2</button>
        <button class="item item3">3</button>
        <button class="item sum">+</button>
        <button class="item negative">+/-</button>
        <button class="item item0">0</button>
        <button class="item itemdot">.</button>
        <button class="item item30">=</button>
        
       
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="/public/js/caculator.js"></script>
  </body>
  <%- include('../../layout/footer')%>

</html>