<html>
<head>
	<meta charset="UTF-8">
	<script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/p5.min.js"></script>
	<script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/addons/p5.dom.min.js"></script>
  	<script language="javascript" type="text/javascript" src="/public/js/sketch.js"></script>
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	  <%- include('../../layout/header');%>
</head>

<body id="body" style="text-align:center; line-height: 1.5; position: relative;">
	<div style="margin-top:10px; margin-bottom:10px;">
		<div id="slideContainer"></div>
	</div>

	<div id="inputFunctionDiv">
	</div>

	<div id="functionDiv">
	</div>
</body>
<%- include('../../layout/footer')%>
</html>