<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tinh gia tri bieu thuc</title>
    <%- include('../../layout/header');%>
  </head>
  <script src="/public/js/giatribieuthuc.js"></script>
  <body style="text-align: center;">
    <h2>Tinh gia tri bieu thuc</h2>
    <input type="text" id="bt" placeholder="Nhap gia tri bieu thuc" /> <br />
    <input type="button" id="kq" value="Ket Qua" onclick="output()" />
    <h3 id="ketqua"></h3>
  </body>
  <%- include('../../layout/footer')%>
</html>