<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>Tỉ giá</title>
        <%- include('../../layout/header');%>
    </head>
    <body style="text-align:center; line-height: 1.5; position: relative;">
        <h1 id="date" style="text-align: center;"> </h1> <br/>

        <script type="text/javascript" src="https://blogtygia.com/script/tygia/short"> </script>
        <noscript> Vui lòng bật javascript để xem <a href="https://blogtygia.com/">tỷ giá</a></noscript>
        <script type="text/javascript" src="https://blogtygia.com/script/giavang/short"> </script><noscript>#<a href="https://blogtygia.com/gia-vang-hom-nay.html">giá vàng</a></noscript>
        <script>
            var today = new Date();
            var date = today.getDate() + ' - ' + (today.getMonth()+1) + ' -     ' + today.getFullYear();
            document.getElementById("date").innerHTML = "Hôm nay là ngày " + date;
            function show(){
                var today = new Date();
                var date = today.getDate() + '-' + today.getMonth() + '-' + today.getFullYear();
                document.getElementById("date").innerHTML = "Hôm nay là ngày " + date;
            }
        </script>
    </body>
    <%- include('../../layout/footer')%>
</html>