<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=4, initial-scale=1.0">
    <title>Tinh the tich cac hinh</title>
    <script src="/public/js/thetich.js"></script>
    <%- include('../../layout/header');%>
</head>
<style>
    body {
        text-align:center;
        position: relative;
        padding-bottom: 50px;
    }
</style>
<body>
    <h2>The tich hinh lap phuong</h2>
    <form id="lapphuongform">
        <input type="text" name="canh" id="canh" placeholder="Nhap do dai canh">
        <input type="button" value="Ket qua" onclick="lapphuong()">
        <h3 id="Vlapphuong"></h3>
    </form>

    <h2>The tich hop chu nhat</h2>
    <form id="hcnform">
        <input type="text" name="dai" id="dai" placeholder="Nhap chieu dai"> <br>
        <input type="text" name="rong" id="rong" placeholder="Nhap chieu rong"> <br>
        <input type="text" name="cao" id="cao" placeholder="Nhap chieu cao"> <br>
        <input type="button" value="Ket qua" onclick="hcn()">
        <h3 id="Vhcn"></h3>
    </form>

    <h2>The tich hinh tru</h2>
    <form id="truform">
        <input type="text" name="r" id="r" placeholder="Nhap ban kinh day"> <br>
        <input type="text" name="h" id="h" placeholder="Nhap chieu cao"> <br>
        <input type="button" value="Ket qua" onclick="tru()">
        <h3 id="Vtru"></h3>
    </form>

    <h2>The tich hinh cau</h2>
    <form id="cauform">
        <input type="text" name="R" id="R" placeholder="Nhap ban kinh hinh cau"> <br>
        <input type="button" value="Ket qua" onclick="cau()">
        <h3 id="Vcau"></h3>
    </form>
</body>
<%- include('../../layout/footer')%>
</html>