<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convert Angle to Rad</title>
    <%- include('../layout/header');%>
</head>
<style>
    body {
        text-align: center;
        margin: 0;
        padding: 0;
    }
    input {
        margin-bottom: 7px;
    }
</style>
<body>
    <h1>Convert Angle to Rad</h1>
    <form>
      Input Angle:<input type="number" id="inputAngle" name="number"/>
      <br> <input type="button" value="convert" onclick="convert()" /><br>
      Output Rad: <span id="outputRad">result</span>
    </form>
    <script src="/js/AngleToRad.js"></script>
</body>
<%- include('../layout/footer')%>
</html>
