<html>
<head>
	<meta charset="UTF-8">
	<script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/p5.min.js"></script>
	<script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/addons/p5.dom.min.js"></script>
  	<script language="javascript" type="text/javascript" src="/js/sketch.js"></script>
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body id="body" style="text-align:center; line-height: 1.5; position: relative;">
	<%- include('../layout/header');%>
	<div style="margin-top:10px; margin-bottom:10px;">
		<div id="slideContainer"></div>
	</div>

	<div id="inputFunctionDiv">
	</div>

	<div id="functionDiv">
	</div>

	<!-- <div id="advices" style="font-size:18px; border:2px black solid; margin-bottom:10px;">
		| nx = <b>n*x</b> | n:x = <b>n/x</b> | 1/2 = <b>0.5</b> | &#8730;x = <b>sqrt(x)</b> | x&#179; = <b>pow(x, 3)</b> | |x| = <b>abs(x)</b> |
		<br>
		| +&#x221e; = <b>Infinity</b> | -&#x221e; = <b>-Infinity</b> |
		<br>
		| <b>e</b> = 2.71828... | lnx = <b>log(x)</b> | log<sub>n</sub>x = <b>log(x)/log(n)</b> |
		<br>
		| π = <b>PI</b> | sinx = <b>sin(x)</b> | cosx = <b>cos(x)</b> |
		<br>
		| use variable <b>a</b> and change value at slider above, example: <b>f(x) = x*a</b> |
		<br>
		| function is <b>case-sensitive</b> |
		<br>
		Example: &nbsp; <b>f(x) = sqrt(pow(R, 2) - pow(x, 2)) &nbsp; x∈[-Infinity,Infinity] &nbsp; Color 0 0 0</b>
	</div> -->
</body>
<%- include('../layout/footer')%>
</html>