<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Chuyen doi anh</title>
        <%- include('../../layout/header');%>
        <style>
            h1{
    text-align: center;
}
button{
    display: inline-block;
    font-size: 20px;
    margin: 10px auto;
    padding: 10px 10px;
    
}

.btn{
    width: 260px;
    margin: 0 auto;
    /* position: relative; */
}

#selected_img{
    display: block;
    max-width: 600px;
    max-height: 600px;
    width: auto;
    height: auto;
    padding: 15px 15px;
}
#image{
    filter: grayscale(100%);
    display: block;
    max-width: 600px;
    max-height: 600px;
    width: auto;
    height: auto;
    padding: 15px 15px;
}
        </style>
    </head>
    <body style="text-align:center; line-height: 1.5; position: relative;">
        <h1>Select the image you want to change</h1>

        <div style="width:0px;overflow:hidden">
            <input type="file" multiple accept="image" onchange="previewFile(this)" id="fileInput" name="fileInput" />
        </div>
        <div class="btn">
            <button type="button" onclick="chooseFile()" id="btn">Choose file</button> 
            <button type="button" id="chuyendoi" onclick="chuyendoianh(this)">Chuyển đổi</button>
        </div>
        
        <img id="selected_img">

        <img id="image">
        <script>
            function chooseFile(){
    var a= document.getElementById('fileInput');

    a.click();
}

function previewFile(fileInput){
	var reader = new FileReader();
	reader.onload = function (e) {
		var img = document.getElementById("selected_img");
		img.src = e.target.result;
		img.style.display = "inline-block";
	};
	reader.readAsDataURL(fileInput.files[0]);
}

function chuyendoianh(chuyendoi){
    var readers = new FileReader();
    readers.onload = function(x){
        var changeimg = document.getElementById("image")
        changeimg.src = x.target.result;
        changeimg.style.display="inline-block";
    };
    readers.readAsDataURL(fileInput.files[0]);
}
        </script>
    </body>
    <%- include('../../layout/footer')%>
</html>